body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
  }
.password-container {
    background-color: rgb(214, 193, 140, 0.4);
    width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .password-input {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /*label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
  }*/
  
  input {
    height: 2.5rem;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
  }
  input::placeholder{
    font-weight: 100;
    color: rgb(179, 179, 179);
  }
  
  #Password-validator p {
    text-align: center;
    font-weight: bold;
  }
  #Password-validator .strong{
    color: rgb(156, 187, 104);
  }
  #Password-validator .weak{
    color: rgb(213, 105, 105);
  }
  
  #password-steps p {
    text-align: center;
    color: rgb(60, 60, 60);
    margin: 1rem 0;
    font-weight: medium;
  }

  .save-password{
    display: grid;
    place-items: center;
  }
  
  .save-password button {
    background-color: rgb(225, 194, 91);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
  }
  
  .save-password button:disabled {
    background-color: rgb(158, 157, 157, 0.8);
    cursor: not-allowed;
    color: white;
  }
  
  @media (max-width: 600px) {
    .password-container {
      width: 90%;
    }
  }  